
@import url('components/images.css');

h1 {
    font-family: "Playwrite HU", cursive;
    color: #f8f3f3;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffc8dd;
    text-align: center;
}


header {
    display: block;
    background-color: #c45a94;
    color: white;
    border-radius: 100px;
    padding: 30px 30px;
    text-align: center;
    width: 1500px inherit;
    line-height: 0.2;
    
}

header p {
    padding-bottom: 0px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

.menu {
    background-color: #c45a94;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content:space-around;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #575757;
}



/* Estilos para telas menores (menu oculto) */
@media screen and (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .menu ul li a {
        padding: 10px;
        text-align: left;
        border-top: 1px solid #444;
    }

    .menu ul li a:first-child {
        border-top: none;
    }

    .menu.active ul {
        display: block;
    }

    /* Estilos do botão para abrir/fechar o menu */
    .menu-toggle {
        display: block;
        background-color: #333;
        color: white;
        padding: 14px 20px;
        text-align: center;
        width: 100%;
        border: none;
        cursor: pointer;
    }

    .menu-toggle:hover {
        background-color: #575757;
    }
}